body {
    background-image: url(/home/alexia/code/menu_deroulant/img/fond.png);

}

header,main,footer {
background-color: white;
width: 40%;
margin:auto;

}


/*Header---------------------------------------------------------------------*/
header {
    font-family: Terminal Dosis;
}

header img {
    float: right;
}

h1 {
    font-size: 5em;
}



/*Navigation-----------------------------------------------------------------*/
nav >ul >li {

    display: inline-block;
    margin: 3%;
}

ul > li > ul {
    display: none;
}

li:hover >ul {
    display: block;
    position: absolute;
}
/*Main-----------------------------------------------------------------------*/
main {
    margin-top: 20%;
}
/*Lien-----------------------------------------------------------------------*/

/*Footer---------------------------------------------------------------------*/
