/*Header---------------------------------------------------------------------*/
header {
    font-family: Terminal Dosis;
}

header img {
    float: right;
}

h1 {
    font-size: 5em;
}



/*Navigation-----------------------------------------------------------------*/

/*Main-----------------------------------------------------------------------*/

/*Lien-----------------------------------------------------------------------*/

/*Footer---------------------------------------------------------------------*/
